

<%= render 'header'%>

<% if  @step%>
<% type = {1=>"gomeprelive",2=>"atgsit",3=>"atguat"}%>
<div class="container">
    <div class="thumbnail">
        <br/>
            <p class="kt18"><font class="cm15">ID：<%= @step.id%>&nbsp; Description: </font><%= @step.description%></p>
            <p class="kt18">校验类型：<font class="cm15"><%= @step.hre_type%></font></p>
            <p class="kt18"><font class="cm15">host: <%= @step.host_id%> => </font>查看对应关系点击<%= link_to "这里", hosts_path%></p>
            <p class="kt18">校验路径：<font class="cm15"><%= @step.url_path%></font></p>
            <p class="kt18">期望结果：<font class="cm15"><%= @step.expect%></font></p>
            <p class="kt18">所在环境：<font class="cm15"><%= type[@step.env]%></font></p>
    </div>
</div>
<% end %>


<br/>
<div class="container">
    <div class="thumbnail" style="padding-left:0px">
        <br/>
            <% res = {"PASS"=>"text-success", "FAIL"=>"text-error"}%>
            <p class="kt18">&nbsp;<%=link_to '清除全部记录',http_result_delete_all_path%></p>
            
            <table class="table">
                <tr>
                    <th style="font-family:Kaiti; font-size:18px">运行时间</th>
                    <th style="font-family:Kaiti; font-size:18px"><font class="comic"> id </font></th>
                    <th style="font-family:Kaiti; font-size:18px">实际结果</th>
                    <th style="font-family:Kaiti;font-size:18px">结果</th>
               </tr>
                
                <tbody id="http_result_ajax">
                </tbody>
            </table>

        
    </div>
</div>
<br/>
