<tr class="cm15">
    <td rowspan="5" style="text-align: center"><%= wp_period_result.url%>(<%= wp_period_result.summary_count%>)</td>
    <td>Impression</td>
    <td><%= wp_period_result.impression_best%></td>
    <td><%= wp_period_result.impression_worst%></td>
    <td><%= wp_period_result.impression_average%></td>
</tr>
<tr class="cm15">
    <td>Onload</td>
    <td><%= wp_period_result.onload_best%></td>
    <td><%= wp_period_result.onload_worst%></td>
    <td><%= wp_period_result.onload_average%></td>
</tr>
<tr class="cm15">
    <td>FullLoad</td>
    <td><%= wp_period_result.fullload_best%></td>
    <td><%= wp_period_result.fullload_worst%></td>
    <td><%= wp_period_result.fullload_average%></td>
</tr>
<tr class="cm15">
    <td>Render</td>
    <td><%= wp_period_result.render_best%></td>
   <td><%= wp_period_result.render_worst%></td>
   <td><%= wp_period_result.render_average%></td>
</tr>
<tr class="cm15">
    <td>Network</td>
    <td><%= wp_period_result.network_best%></td>
   <td><%= wp_period_result.network_worst%></td>
   <td><%= wp_period_result.network_average%></td>
</tr>
