<%= render 'header'%>

<div class="container">
    <div class="thumbnail">
                   <br/>
                <p class="kt18">任务：<strong class=" text-info"><%= @task.description%></strong> 关联用例结果列表</p>
    </div>
 </div>
<br/>

<%color={0=>"text-success", 1=>"text-warning", 2=>"text-error", nil=>""} %>
<% result={0=>"PASS", 1=>"FAIL", 2=>"ERROR", nil=> ""}%>
<% status={0=>"Unkown", 1=>"Running", 2=>"Exception", 3=>"Finished"}%>

<div class="container">
    <div class="thumbnail">
            <br />
            <%= form_tag( search_result_by_counter_path, :remote=>true) do %>
            <p class="kt18">
                通过 <font class="comic">counter</font> 查询： 
                <%=text_field_tag "counter",nil, :style=>"font-family:Comic Sans MS"%>
                <input type="hidden" id="task" name="task" value="<%= params[:task_id]%>">
                <input type="submit" value="确认查询" class="btn btn-primary" style="font-family: Kaiti">
            <% end %>    
           </p>
    </div>
</div>

</br>

<div class="container">
    <div class="thumbnail" style="padding:0px">
            <table class="table">
                <tr>
                   <th style="font-size:16px">执行次</th>
                   <th style="font-size:16px">状态</th>
                   <th style="font-size:16px">机器</th>
                   <th style="font-size:16px">时间</th>
                   <th style="font-size:16px">结果</th>
                    <th></th>
                </tr>
                
                
                <tbody id="task_result">
                    <%= render partial: 'task_result', collection: @results%>
                </tbody>
                
            </table>    
    </div>
</div>

<br/>
