<%= form_for(@url_performance) do |f| %>
  <% if @url_performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url_performance.errors.count, "error") %> prohibited this url_performance from being saved:</h2>

      <ul>
      <% @url_performance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :runflag %><br />
    <%= f.text_field :runflag %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :browser %><br />
    <%= f.text_field :browser %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
