# encoding: utf-8
<%= render 'header'%>
<div class="container">
    <div class="thumbnail">
        <br/>
                <p class="kt18">添加新的<font class="comic"> url </font>, 点击<%= link_to '这里', new_url_performance_path%></p>
    </div>
</div>

<br/>

<div class="container">
    <div class="thumbnail">
            <br/>
            <%= form_tag(url_perform_run_path)  do %>
            <p class="kt18">
                机器：<%= select_tag "remote_machine", options_from_collection_for_select(@remote_machines,"id","ipaddress"),:style=>"font-family:Comic Sans MS"%> 
                <input type="submit" style="font-family:Kaiti;font-size:15px" class="btn btn-primary" value="执行操作"/></p>
            <% end %>
    </div>
</div>




<br/>
<div class="container">
    <div class="thumbnail" style="padding:0">
<table class="table">
  <tr>

    <th style="font-family:Comic Sans MS; font-size:16px">Url</th>
    <th style="font-family:Comic Sans MS; font-size:16px">Browser</th>
    <th style="font-family:Comic Sans MS; font-size:16px">Runflag</th>
    <th></th>
  </tr>

<% @url_performances.each do |url_performance| %>
  <tr class="cm15">
   
    <td><%= best_in_place  url_performance,:url , :html_attrs=>{ :style=>"width:105px;font-family: Comic Sans MS"}, :display_with=>lambda {|v| v.gsub(/(.{30})/,"\\1<br/>").html_safe}%></td>
    <td><%= best_in_place url_performance,:browser,:type=>:select, :collection=>[["ff","Firefox"],["chrome","Chrome"],["ie","IE"],["","--"]] , :html_attrs=>{:style=>"width:85px;font-family:Comic Sans MS"} %></td>
     <td><%= best_in_place url_performance,:runflag ,:type=>:select, :collection=>[[1,"Yes"],[0,"No"]], :html_attrs=>{ :style=>"width:60px;font-family: Comic Sans MS"} %></td>
    <td><%= link_to 'Destroy', url_performance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
</div>
</div>

</br>
