= render 'header'

.container
  .thumbnail
    %br
    %p.kt18 
      %font.cm15= "Ruby、Watir-Webdriver、STAF、Rails"
      环境搭建

%br

.container
  .thumbnail
    %br
    %h2{:style=>"font-family: Kaiti; font-size: 18px"}
      %font.cm15= "1. Ruby"
      的安装与包管理工具的使用说明
    %p.kt15 
      1. 点击
      %a{:href=>"#{ftp_host}/rubyinstaller-1.9.3-p392.exe"} 这里
      下载
      %font.cm15 Ruby
      安装程序（版本为
      %font.cm15 Ruby 1.9.3-p392）。
      %br
      2. 双击安装程序，执行安装过程，注意勾选安装过程中出现的
      %font.cm15  "Add Ruby executables to your PATH"。
      如未勾选，需要在环境变量中添加
      %font.cm15  PATH="Where you install your ruby"。
      %br
      3.  验证安装是否成功：打开命令行，输入以下指令（如果安装前已启动命令行，需要新建新窗口）： 
      %font.cm15 "ruby -v"。
      如果返回值包含版本信息，则安装成功。
      %br
      4.  点击
      %a{:href=>"#{ftp_host}/DevKit.exe"}这里
      下载
      %font.cm15 "Devkit"。
      
      
      
            
    %h2{:style=>"font-family: Kaiti; font-size: 18px"}
      %font.cm15= "2. Watir-Webdriver"
      的安装
    %h2{:style=>"font-family: Kaiti; font-size: 18px"}
      %font.cm15= "3. Rails"
      的安装以及其它包的安装
    %h2{:style=>"font-family: Kaiti; font-size: 18px"}  
      %font.cm15= "4. STAF"
      的安装于配置
       

%br