<%= render 'header' %>
<br/>
<div class="container">
    <div class="thumbnail">
            <br/>
            <p class="kt18"> 测试用例名称： <font class="cm15"><%= @testcase.name%></font></p>
    </div>
</div>
<br/>

<div class="container">
    <div class="thumbnail">
             <br/>
            <p class="kt18"> 创建新步骤，点击<%= link_to "这里",new_teststep_path(:testcase_id=>@testcase.id)%></p>        
    </div>
</div>

<br/>
<div class="container">
    <div class="thumbnail" style="padding-left:0">
            <table class="table">
                <tr>
                        <th  style="font-family: Comic Sans MS; font-size:16px;">Step</th>
                        <th  style="font-family: Comic Sans MS; font-size:16px;">Description</th>
                        <th  style="font-family: Comic Sans MS; font-size:16px;">StepMethod</th>
                        <th  style="font-family: Comic Sans MS; font-size:16px;">Object</th>
                        <th  style="font-family: Comic Sans MS; font-size:16px;">CallMethod</th>
                        <th  style="font-family: Comic Sans MS; font-size:16px;">Input</th>
                        <th  style="font-family: Comic Sans MS; font-size:16px;">Expect</th>
                        <th  style="font-family: Comic Sans MS; font-size:16px;">RunFlag</th>                    
                </tr>
            
       
       <% @teststeps.each do |tc|%>
            <tr class="cm15">
                <td><%= best_in_place tc,:step ,:html_attrs=>{ :style=>"width:20px;"}%></td>
                <td><%= best_in_place tc,:description ,:html_attrs=>{ :style=>"width:105px;"}%></td>
                <td><%= best_in_place tc,:step_method ,:html_attrs=>{ :style=>"width:90px;font-family:Comic Sans MS"},:type=>:select,:collection=>[["action","action"],["verify","verify"],["cus-action","cus-action"],["cus-verify","cus-verify"]]%></td>
                <td><%= best_in_place tc,:obj_name ,:html_attrs=>{ :style=>"width:105px;"}%></td>
                <td><%= best_in_place tc,:call_method ,:html_attrs=>{ :style=>"width:105px;"}%></td>
                <td><%= best_in_place tc,:input ,:html_attrs=>{ :style=>"width:105px;"}%></td>
                <td><%= best_in_place tc,:expect ,:html_attrs=>{ :style=>"width:105px;"}%></td>
                <td><%= best_in_place tc,:run, :html_attrs=>{:style=>"width:20px"},:type=>:select,:collection=>[[0,"Yes"],[1,"No"]]%></td>
                    <td><%= link_to 'Destroy',tc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
       <%end%>         
        </table>
    </div>
</div>
        </br/>