<%= render 'header'%>

<div class="container">
    <div class="thumbnail">
        <br/>
            <p class="kt18">当前可用的<font class="comic">host: </font>(新增点击<%= link_to '这里', new_host_path%>)</p>
            <% @hosts.each  do |host|%>
                  
                    <% if  host.id % 4 == 1 %>
                           <p> <font class="comic"><%= host.id%>: <font class="text-info"><%= host.url%></font></font>  &nbsp;
                    <% elsif  host.id % 4 != 0%>
                        <font class="comic"><%= host.id%>: <font class="text-info"><%= host.url%></font></font>&nbsp;
                    <% else %>
                        <font class="comic"><%= host.id%>:<font class="text-info"><%= host.url%></font></font></p>    
                    <% end %>
            <% end %>
        <br/>
        <p class="kt18"> <font class="comic">Env </font>默认值：</p>
        <p class="kt18"><font class="comic">1: gomeprelive;   2: atgsit ; 3: atguat</font></p>
        <br/>
        <p class="kt18">创建新的<font class="comic"> http </font>测试步骤，点击<%= link_to '这里', new_http_automation_path%></p>
        
    </div>
</div>
<br/>

<div class="container">
    <div class="thumbnail">
            <br/>
            <%= form_tag(http_result_run_http_path)  do %>
            <p class="kt18">选择执行条件：</p>
            <p class="kt18">
                机器：<%= select_tag "remote_machine", options_from_collection_for_select(@remote_machines,"id","ipaddress"),:style=>"font-family:Comic Sans MS"%> 
                环境:  <%= select_tag "cur_env", "<option>0(all)</option><option>1(gomeprelive)</option><option>2(atgsit)</option><option>3(atguat)</option><option>4(others)</option>".html_safe,:style=>"font-family:Comic Sans MS"%> 
            </p>
            <p><input type="submit" style="font-family:Kaiti;font-size:15px" class="btn btn-primary" value="执行操作"/></p>
            <% end %>
    </div>
</div>


<br/>
<div class="container">
    <div class="thumbnail span11"  style="padding-left:0px">
<table class="table">
  <tr>
      <th  style="font-family: Comic Sans MS; font-size:18px;">ID</th>
    <th  style="font-family: Comic Sans MS; font-size:18px;">Hre type</th>
    <th  style="font-family: Comic Sans MS; font-size:18px;">Description</th>
    <th  style="font-family: Comic Sans MS; font-size:18px;">Base</th>
    <th  style="font-family: Comic Sans MS; font-size:18px;">Expect</th>
    <th  style="font-family: Comic Sans MS; font-size:18px;">Host</th>
    <th  style="font-family: Comic Sans MS; font-size:18px;">Env</th>
    <th  style="font-family: Comic Sans MS; font-size:18px;">Url path</th>
    <th></th>

  </tr>

<% @http_automations.each do |http_automation| %>
  <tr class="cm15">
      <td><%= best_in_place  http_automation, :id%></td>
    <td><%= best_in_place  http_automation,:hre_type ,:html_attrs=>{ :style=>"width:20px;"}%></td>
    <td style="font-family: Kaiti; font-size:15px"><%=best_in_place  http_automation,:description ,:html_attrs=>{ :style=>"width:30px;font-family: Kaiti"}%></td>
    <td><%=best_in_place http_automation,:base_id ,:html_attrs=>{ :style=>"width:10px;font-family: Comic Sans MS"}%></td>
    <td><%=best_in_place http_automation,:expect , :display_with=>lambda{|v| v.gsub(/(.{20})/,"\\1<br/>").html_safe},:html_attrs=>{ :style=>"width:30px;font-family: Comic Sans MS"}%></td>
    <td><%=best_in_place http_automation,:host_id ,:html_attrs=>{ :style=>"width:10px;"}%></td>
    <td><%=best_in_place http_automation,:env ,:html_attrs=>{ :style=>"width:10px;"}%></td>
    <td><%= best_in_place  http_automation,:url_path, :display_with=>lambda{|v| v.gsub(/(.{25})/,"\\1<br/>").html_safe} ,:html_attrs=>{ :style=>"width:30px;font-family: Comic Sans MS"}%></td>
    <td><%= link_to 'Destroy', http_automation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br/>
    <div class="span6 offset4" style="text-align: right"><%= paginate @http_automations %></div>
    </div>

</div>

<br />

