<%= render 'header'%>

<div class="container">
    <div class="thumbnail">
        <br/>
            <p class="kt18">当前可用的<font class="comic">host: </font>(新增点击<%= link_to '这里', new_host_path%>)</p>
            <% @hosts.each  do |host|%>
                  
                    <% if  host.id % 4 == 1 %>
                           <p> <font class="comic"><%= host.id%>: <font class="text-info"><%= host.url%></font></font>  &nbsp;
                    <% elsif  host.id % 4 != 0%>
                        <font class="comic"><%= host.id%>: <font class="text-info"><%= host.url%></font></font>&nbsp;
                    <% else %>
                        <font class="comic"><%= host.id%>:<font class="text-info"><%= host.url%></font></font></p>    
                    <% end %>
            <% end %>
        <br/>
        <p class="kt18"> <font class="comic">Env </font>默认值：</p>
        <p class="kt18"><font class="comic">1: gomeprelive;   2: atgsit ; 3: atguat</font></p>
        <br/>
        <p class="kt18">创建新的<font class="comic"> http </font>测试步骤，点击<%= link_to '这里', new_http_automation_path%></p>
        
    </div>
</div>
<br/>

<div class="container">
    <div class="thumbnail span6">
            <br/>
            <%= form_tag(http_result_run_http_path)  do %>
            <p class="kt18">选择执行条件：</p>
            <p class="kt18">
                机器：<%= select_tag "remote_machine", options_from_collection_for_select(@remote_machines,"id","ipaddress"),:style=>"font-family:Comic Sans MS"%> <br/>
                环境:  <%= select_tag "cur_env", "<option>0(all)</option><option>1(gomeprelive)</option><option>2(atgsit)</option><option>3(atguat)</option><option>4(others)</option>".html_safe,:style=>"font-family:Comic Sans MS"%> 
            </p>
            <p><input type="submit" style="font-family:Kaiti;font-size:15px" class="btn btn-primary" value="执行操作"/></p>
            <% end %>
    </div>
    
    <div class="thumbnail span5">
             <%= form_tag(search_http_path, :remote=>true)  do%>
             <br/>
             <p class="kt18">选择搜索条件</p>
                 <p class="kt18">    
                     环境:  <%= select_tag "env_id", "<option>0(all)</option><option>1(gomeprelive)</option><option>2(atgsit)</option><option>3(atguat)</option><option>4(others)</option>".html_safe,:style=>"font-family:Comic Sans MS"%>
                     <br/> 
                    <font class="comic">Host:  </font><%= select_tag "host_id",options_from_collection_for_select(@hosts, "id", "url"), :style=>"font-family:Comic Sans MS", prompt: "From All"%>
                </p>
                <p><input type="submit" style="font-family:Kaiti;font-size:15px" class="btn btn-primary" value="搜索"/></p>
             <%end%>
   </div>
</div>


<br/>
<div class="container">
    <div class="thumbnail span11"  style="padding-left:0px">
<table class="table">
  <tr>
      <th  style="font-family: Comic Sans MS; font-size:18px;">ID</th>
    <th  style="font-family: Comic Sans MS; font-size:18px;">Hre type</th>
    <th  style="font-family: Comic Sans MS; font-size:18px;">Description</th>
    <th  style="font-family: Comic Sans MS; font-size:18px;">Base</th>
    <th  style="font-family: Comic Sans MS; font-size:18px;">Expect</th>
    <th  style="font-family: Comic Sans MS; font-size:18px;">Host</th>
    <th  style="font-family: Comic Sans MS; font-size:18px;">Env</th>
    <th  style="font-family: Comic Sans MS; font-size:18px;">Url path</th>
    <th></th>

  </tr>

    <tbody id="search_http">
      <%= render partial: 'http_automation', collection: @http_automations%>
   </tbody>
</table>
<br/>
    </div>

</div>

<br />

