<%= render 'header'%>

<div class="container">
    <div class="thumbnail">
                    <br/>
                    <p class="kt18">元素属性添加说明：</p>
                    <p class="kt18">需要多重定位的元素，需要使用‘>’分割符。如 <font class="comic">frame>a, :id>:class, abc>cde</font></p>
                    <p class="kt18"></p>
                    <p class="kt18">添加测试元素对象点击<%= link_to '这里' ,new_tobject_path%></p>
    </div>
</div>
<br/>


<div class="container">
    <div class="thumbnail" style="padding:0">
<table class="table">
  <tr>
    <th  style="font-family: Comic Sans MS; font-size:16px;">Name</th>
    <th  style="font-family: Comic Sans MS; font-size:16px;">Types</th>
    <th  style="font-family: Comic Sans MS; font-size:16px;">Attributes</th>
    <th  style="font-family: Comic Sans MS; font-size:16px;">Values</th>
    <th  style="font-family: Comic Sans MS; font-size:16px;">Description</th>
    <th></th>
  </tr>

<% @tobjects.each do |tobject| %>
  <tr class="cm15">
    <td><%=best_in_place tobject,:syn_name  , :html_attrs=>{:style=>"width:90px;font-family:Comic Sans MS"}%></td>
    <td><%=best_in_place tobject,:label_types  , :html_attrs=>{:style=>"width:90px;font-family:Comic Sans MS"}%></td>
    <td><%=best_in_place tobject,:label_attributes  , :html_attrs=>{:style=>"width:90px;font-family:Comic Sans MS"}%></td>
    <td><%=best_in_place tobject,:attribute_values  , :html_attrs=>{:style=>"width:90px;font-family:Comic Sans MS"},  :display_with=>lambda{|v| v.gsub(/(.{40})/,"\\1<br/>").html_safe} %></td>
    <td style="font-family:Kaiti"><%=best_in_place tobject,:description  , :html_attrs=>{:style=>"width:90px;font-family:Kaiti"}%></td>
    <td><%= link_to 'Destroy', tobject, method: :delete, data: { confirm: 'Are you sure?' }, :style=>"font-family:Comic Sans MS" %></td>

  </tr>
<% end %>
</table>
</div>
</div>
<br />

