<%= render 'header'%>

<div class="container">
    <div class="thumbnail">
                    <br/>
                    <p class="kt18">元素属性添加说明：</p>
                    <p class="kt18">需要多重定位的元素，需要使用‘>’分割符。如 <font class="comic">frame>a, :id>:class, abc>cde</font></p>
                    <p class="kt18"></p>
                    <p class="kt18">添加测试元素对象点击<%= link_to '这里' ,new_tobject_path%></p>
    <%= form_tag(get_refer_objs_path(:refered=>"search"),:remote=>true)  do %>
       <p class="kt18">搜索：<input type="text" id="search-info" name="search-info" style="font-family:Comic Sans MS"/>
           &nbsp;<input type="submit" class="btn btn-primary" value="确定"  style="font-family:Kaiti"/></p> 
    <% end %>
    </div>
</div>
<br/>



<br/>
<div class="container">
    <div class="thumbnail" style="padding:0">
        
            <ul class="nav nav-pills">
                <li class="active"  id="all">
                    <%= link_to "All Objects" , get_refer_objs_path(:refered=>"all") ,:style=>"font-family: Comic Sans MS", :remote=>true%>
                </li>
                <li id="pre">
                    <%= link_to "Pre Objects" , get_refer_objs_path(:refered=>"pre") ,:style=>"font-family: Comic Sans MS", :remote=>true%>
                </li>
                <li id="uat">
                  <%= link_to "Uat Objects" , get_refer_objs_path(:refered=>"uat") ,:style=>"font-family: Comic Sans MS", :remote=>true%>
                </li>
                <li id="sit">
                    <%= link_to "Sit Objects" , get_refer_objs_path(:refered=>"sit") ,:style=>"font-family: Comic Sans MS", :remote=>true%>
                </li>
                <li id="search">
                    <%= link_to "Search Result", "#",:style=>"font-family: Comic Sans MS", :disable=>"true"%>
                </li>
            </ul>
        
<table class="table">
  <tr>
    <th  style="font-family: Comic Sans MS; font-size:16px;">Name</th>
    <th  style="font-family: Comic Sans MS; font-size:16px;">Types</th>
    <th  style="font-family: Comic Sans MS; font-size:16px;">Attributes</th>
    <th  style="font-family: Comic Sans MS; font-size:16px;">Values</th>
    <th  style="font-family: Comic Sans MS; font-size:16px;">Description</th>
    <th></th>
  </tr>

    <tbody id="test_objects">
        <%= render partial: 'tobject', collection: @tobjects%>
    </tbody>
</table>
</div>
</div>
<br />

