<div class="hero-unit">
    <div class="container">
    <h1 style="font-family: Kaiti; font-size:35px;color:white">相关工具</h1>
    <br/>
    <p style="font-family:Kaiti;color:white">提供相关工具的下载功能，安装使用可以查看<a href="">使用说明</a></p>
    </div>
</div>
<div class="container">
    <div class="thumbnail">
        <h3 style="font-family: Kaiti; color:#009966 ">工具列表</h3>
        <p class="kt18"><a href="<%= @ftp_host%>rubyinstaller-1.9.3-p392.exe"><font class="comic">Ruby Installer</font></a>: <font class="comic"> Ruby </font>安装程序，版本为 <font class="comic">1.9.3-p392</font></p>
        <p class="kt18"><a href="<%= @ftp_host%>Aptana_Studio_3_Setup_3.3.1.exe"><font class="comic">Aptana Studio</font></a>: 集成<font class="comic"> ruby </font>开发环境，同时支持 <font class="comic">python、java</font>。
        <p class="kt18"><a href="<%= @ftp_host%>Devkit.exe"><font class="comic"> DevKit </font></a>: <font class="comic"> gem </font>安装工具，主要处理<font class="comic"> c </font>语言相关的安装。</p>   
        <p class="kt18"><a href="<%= @ftp_host%>gems.rar"><font class="comic">Gems.rar</font></a>：国内屏蔽了<font class="comic"> rubygems </font>源, 打包相关<font class="comic">gem (watir-webdriver、rails,etc...)</font>, 可本地进行安装。</p>
        <p class="kt18"><a href="<%= @ftp_host%>ie_chrome_webdriver.rar"><font class="comic">Browser-Driver(win32)</font></a>: <font class="comic">Windows 32</font>位操作系统下，<font class="comic"> Chrome、IE </font>的驱动程序。 </p>
        <p class="kt18"><a href="<%= @ftp_host%>IEDriverServer_x64_2.31.0.zip"><font class="comic">Browser-Driver(win64)</font></a>: <font class="comic">Windows 64</font>位操作系统下，<font class="comic">IE </font>的驱动程序。 </p>
        <p class="kt18"><a href="<%= @ftp_host%>IEDriverServer_x64_2.31.0.zip"><font class="comic">STAF</font></a>: 分布执行，远程控制的辅助工具。</p>
        <p class="kt18"><a href="<%= @ftp_host%>AutoGome2.2.rar"><font class="comic">FuncPackage</font></a>:功能测试脚本打包</p>
        <p class="kt18"><a href="<%= @ftp_host%>DeployTest.rar"><font class="comic">HttpVerify</font></a>:<font class="comic"> HTTP </font>测试脚本打包</p>
    </div>
</div>
</br>
